@media screen and (min-width:992px){
    .my_header{width:100%;height:10rem;}
}
@media screen and (max-width:991px){
    .my_header{width:100%;height:16rem;}
}
.header_size{height: 80px;font-weight: 400;}
.header_size>div>input{width: 346px;
    height: 36px;
    margin-top: 20px;
    padding: 10px 34px 10px 10px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    line-height: 18px;
    color: #ccc;
    font-weight: 400;
}
.header_size + div{font-size: 18px;
    font-weight: 400;
    line-height: 65px;
    background: #3b3a41;
}
a{text-decoration: none!important;}
.container-fluid>div:nth-child(2),.container-fluid>div:first-child{padding:0 3.5rem !important;}
.nav{height:65px;}
.nav-link{width:100px;padding:0!important;text-align: center;}
.nav-link:focus{background-color: #1d1d20;}
.nav + div img{width: 180px;
    height:32.5px;
    margin-right: 5px;
}
.nav + div a{font-size: 14px;
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.content{width: 1208px;margin:0 3.5rem;}
.movie_w{width: 982px;}
.movie_img_size{width: 982px;
    font-weight: 400;
    border: 4px solid #fff;
    height:330px;
}
.movie_img_size img,.movie_img_size li{width:140px;
}
.movie_img_size img{ height:206px;}
a.btn{width: 68px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ff318c;
    color: #ff318c;
    border-radius: 2px;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}
a.btn + span{  right: 0;
    top: 14px;
    padding-left: 5px;
    background-color: #fff;
    color: #fd8e51;
   }
.movie_img_size1 a.btn{width: 68px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    color: #333;
    padding:0;
}
.right_size>h5{width:225px;}
.right_size a{font-size: 12px;color: #666;}
.right_size_img img{
    width: 64px;
    height: 86px;
}
.right_size_img h6{width: 147px;
    height: 16px;
    padding-right: 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-overflow: ellipsis;
    color: #111;
    cursor: pointer;}
.right_size_img em{font-size: 12px;}
.right_size span{  color: #ff318c;
    font-size: 12px;
}
.right_size_img li{overflow: hidden;
    height:1.5rem;
    margin:1rem 0;
}
.right_size_img img{margin-top:8px;}
.right_size_img li:hover{height:132px;transition:1s;}
.movie_w li,.movie_w1 li{width:160px!important;padding:10px 10px;}
.movie_w li:hover,.movie_w1 li:hover{border:1px solid #ff318c;}
a.carousel-control-prev{}
.carousel-control-next,
.carousel-control-prev{
    width: 42px;
    height: 42px;
    border-radius:2px;
    background:#000 50%;
    opacity:0.2;
    top:30%;
    transition:opacity 0.5s linear;
    border-radius: 50%;
}
.carousel-control-prev{
    left:3px;
}
.carousel-control-prev{
    right:3px;
}